[submodule "backend"]
	path = backend
	url = https://github.com/Yevgeniy-Dan/beskyd-test-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/Yevgeniy-Dan/beskyd-test-frontend.git
